doctype html
html(lang='pt-br')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Ensino Simples - Treinamento e Consultoria

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // Scripts do Formulário

        script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js",) 
        script(type="text/javascript").
            (function()
                {emailjs.init("user_1x15UKuO0LG7GabNt8RCO");
            })();
        script(type="text/javascript").
            (window.onload = function() {document.getElementById('contact-form').addEventListener('submit', function(event) {event.preventDefault();
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                emailjs.sendForm('service_1aejhq6', 'template_psv2gu6', this)
                    .then(function() {
                        console.log('SUCCESS!')
                        alert("Mensagem enviada com sucesso!")
                        window.location.reload();
                    }, function(error) {
                        console.log('FAILED...', error);
                    });});}
            )

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Ensino Simples
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#about') Sobre
                        li.nav-item
                            a.nav-link(href='#services') Serviços
                        li.nav-item
                            a.nav-link(href='#portfolio') Tecnologias
                        li.nav-item
                            a.nav-link(href='#agenda') Agenda
                        li.nav-item
                            a.nav-link(href='#contact') Contato

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold Seu Consultor em Inovação e Novas Tecnologias
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5
                            | Domine a tecnologia e utilize os recursos a seu favor! Te mostrarei ferramentas para dominar o mundo digital e te darei insights para facilitar sua vida.
                        a.btn.btn-primary.btn-xl(href='#about') Descubra Mais

        // About
        section#about.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 Quero te ajudar!
                        hr.divider.divider-light
                        p.text-white-75.mb-4
                            | Professor experiente, profissional de tecnologia, apaixonado por inovação e ouvinte dedicado, posso te ajudar a conquistar a confiança no mundo tecnológico.
                        a.btn.btn-light.btn-xl(href='#services') Vamos começar!

        // Services
        section#services.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Como posso te ajudar?
                hr.divider
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-person.fs-1.text-primary
                            h3.h4.mb-2 Consultoria Personalizada
                            p.text-muted.mb-0 Te ajudarei pessoalmente a desbravar o mundo da informática.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-laptop.fs-1.text-primary
                            h3.h4.mb-2 Consultoria em Grupo
                            p.text-muted.mb-0 Para grupos de até 5 pessoas, com treinamento personalizado para seus objetivos.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-clock.fs-1.text-primary
                            h3.h4.mb-2 Atendimento de Urgência
                            p.text-muted.mb-0 Para assuntos em que não há como esperar, vou parar o que estou fazendo para te atender!
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-emoji-laughing.fs-1.text-primary
                            h3.h4.mb-2 Alegria e discontração
                            p.text-muted.mb-0 Vamos conversar sobre como posso te ajudar ainda hoje!

        // Portfolio
        #portfolio
            .container-fluid.p-0
                .row.g-0
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg', title='Consultoria Individual')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Consultoria
                                .project-name
                                    | Individual
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg', title='Consultoria Mobile')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Consultoria
                                .project-name
                                    | Mobile
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg', title='Palestras Empresariais')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Palestras
                                .project-name
                                    | In Company
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg', title='Consultoria em Grupo')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Consultoria
                                .project-name
                                    | Em Grupo
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg', title='Atendimento de Urgência')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Atendimento
                                .project-name
                                    | De Urgência
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg', title='Redes Sociais')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='...')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Consultoria
                                .project-name
                                    | Em Redes Sociais

        // Agenda
        #agenda
        section.page-section.bg-dark.text-white
            .container.px-4.px-lg-5.text-center
                h2.mb-4 Vamos marcar uma conversa rápida?
                a.btn.btn-light.btn-xl(href='https://doodle.com/mm/jeffersonlucas/ensino-simples') Acesse a agenda!
        
        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0 Vamos conversar mais?
                        hr.divider
                        p.text-muted.mb-5
                            | Pronto para começar a viver sem medo da tecnologia? Preencha o formulário abaixo que entrarei em contato contigo o mais rápido possível!
                .row.gx-4.gx-lg-5.justify-content-center.mb-5
                    .col-lg-6
                        form#contact-form

                            // Name input
                            .form-floating.mb-3
                                input(type="hidden", name="contact_number")
                                input#user_name.form-control(
                                    type='text',
                                    placeholder='Como posso te chamar?',
                                    name="user_name"
                                )
                                label(for='user_name') Nome: 

                            // Email address input
                            .form-floating.mb-3
                                input#user_email.form-control(
                                    type='email',
                                    placeholder='exemplo@exemplo.com',
                                    name="user_email"
                                )
                                label(for='user_email') Endereço de e-mail:

                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text',
                                    placeholder='Escreva sua mensagem aqui, se possível deixe um número de contato',
                                    style='height: 10rem;',
                                    name="message"
                                )
                                label(for='message') Mensagem:
                            
                            // Submit Button
                            .d-grid
                                button#submitButton.btn.btn-primary.btn-xl(type='submit', value='Send') Enviar

        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2021 - Ensino Simples  | Desenvolvido e Mantido por Jeff Dev

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        //script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
